@import "../../../../assets/styles/auth-form";

.login {
    .container {
        display: flex;

        .page-image {
            margin-top: 106px;
            margin-bottom: 92px;
            margin-left: 178px;

            img {
                vertical-align: bottom;

            }
        }
    }
}