@import "../../../../assets/styles/auth-form";

.signup {
    .container {
        display: flex;

        .page-image {
            margin-top: 123px;
            margin-bottom: 148px;
            margin-left: 185px;

            img {
                vertical-align: bottom;

            }
        }
    }
}